/* min 10 selector */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Pixelify+Sans:wght@400;500;600;700&display=swap');
body {
    margin: 0;
    font-family: 'Gabarito', sans-serif;
}

#navbar {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    padding: 16px;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
}

#navbar-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Pixelify Sans', sans-serif;
}

h1 {
    font-family: 'Pixelify Sans', sans-serif;
}

#link-list {
    list-style: none;
    display: flex;
    column-gap: 16px;
    margin: 0;
    margin-top: 4px;
}
#link-list a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 8px;
}
#link-list a:hover {
    background-color: gray;
}
#home {
    position: relative;
}
#home-image {
    width: 100%;
}
#home-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50%;
}
.home-text {
    color: white;
    margin: auto;
    size: 2cm;
}

#about {
   position: relative;
}
#about-image {
    width: 100%;
}
#about-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 10%;
}
.about-text {
    color: white;
    margin: auto;
    font-size: xx-large;
}

#experience {
    position: relative;
}
#experience-image {
     width: 100%;
 }
#experience-content {
     display: flex;
     flex-direction: column;
     width: 100%;
     position: absolute;
     top: 10%;
 }
.experience-text {
     color: white;
     margin: auto;
     font-size: xx-large;
 }

#education {
    position: relative;
 }
#education-image {
     width: 100%;
 }
#education-content {
     display: flex;
     flex-direction: column;
     width: 100%;
     position: absolute;
     top: 10%;
 }
.education-text {
     color: black;
     margin: auto;
     font-size: xx-large;
 }

#award {
    position: relative;
 }
#award-image {
     width: 100%;
 }
#award-content {
     display: flex;
     flex-direction: column;
     width: 100%;
     position: absolute;
     top: 10%;
 }
.award-text {
    color: black;
    margin: auto;
    font-size: xx-large;
 }

#skills {
    position: relative;
 }
#skills-image {
     width: 100%;
 }
#skills-content {
     display: flex;
     flex-direction: column;
     width: 100%;
     position: absolute;
     top: 10%;
 }
.skills-text {
    color: white;
    margin: auto;
    font-size: xx-large;
 }

#interests {
    position: relative;
 }
#interests-image {
     width: 100%;
 }
#interests-content {
     display: flex;
     flex-direction: column;
     width: 100%;
     position: absolute;
     top: 10%;
 }
.interests-text {
    color: black;
    margin: auto;
    font-size: xx-large;
 }
